.login-form {
  max-width: 300px;
  margin-bottom: -20px;
}
.login-form-forgot {
  float: right;
}
/* #components-form-demo-normal-login  */
.login-form-button {
  width: 100%;
}

.register-form-button {
  width: 100%;
}
